!!!
%html
  %head
    = favicon_link_tag "//img1.wsimg.com/isteam/ip/98444f4f-4552-4ee9-968c-7fa7ce74a6d9/logo/2c115f2c-7298-4399-b373-05618ee43d83.png/:/rs=h:125"
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LilypadEnergy
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - flash.each do |key, value|
      %div{class: "alert alert-#{key == 'notice' ? 'success' : 'dark'}"}
        %a.close{"data-dismiss" => "alert", :href => "#"} ×
        %ul
          %li
            = value

    .wrapper
      = yield


    = render 'shared/footer'